h4 {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: table;
    background-color: rgb(179, 180, 255);
    border-radius: 5px;
    padding: 5px 10px;
}
input {
    height: 2em;
    font-size: 1.5em;
    padding-left: 0.5em;
}

ul {
   list-style-type: none; 
}

nav a {
    font-size: 1em;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: rgb(179, 180, 255);
    padding: 2px 4px;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: rgb(103, 106, 255);

}